#from tests import library some_library
#import library tests.some_library

#def some_fn
  $tests.some_library.library_fn($test_y)
#end def

$tests.some_library.library_fn("foo")
$some_library.foo_library_fn()

$some_fn()

$some_library.bar_library_fn_output()

#set $bar = $some_library.bar_library_fn()
$bar
